<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Item01.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,911},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>Item02.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,910},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>ReturnToMenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,569},{303,77}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{303,77}}</string>
                <key>sourceSize</key>
                <string>{303,89}</string>
            </dict>
            <key>bullet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,990},{30,28}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,23},{30,28}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>bullet2.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,990},{25,28}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,23},{25,28}}</string>
                <key>sourceSize</key>
                <string>{83,80}</string>
            </dict>
            <key>bullet3.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,990},{31,30}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,22},{31,30}}</string>
                <key>sourceSize</key>
                <string>{83,80}</string>
            </dict>
            <key>continueGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,874},{303,77}}</string>
                <key>offset</key>
                <string>{-12,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{303,77}}</string>
                <key>sourceSize</key>
                <string>{327,89}</string>
            </dict>
            <key>continueGameSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,910},{303,78}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{303,78}}</string>
                <key>sourceSize</key>
                <string>{317,88}</string>
            </dict>
            <key>exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,379},{33,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{33,35}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>goBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,264},{48,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,10},{48,37}}</string>
                <key>sourceSize</key>
                <string>{56,57}</string>
            </dict>
            <key>ground.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{764,138}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{764,138}}</string>
                <key>sourceSize</key>
                <string>{766,138}</string>
            </dict>
            <key>hero-sad.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,764},{129,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,143}}</string>
                <key>sourceSize</key>
                <string>{129,143}</string>
            </dict>
            <key>hero01.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,764},{129,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,144}}</string>
                <key>sourceSize</key>
                <string>{129,144}</string>
            </dict>
            <key>hero02.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,764},{129,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,145}}</string>
                <key>sourceSize</key>
                <string>{129,145}</string>
            </dict>
            <key>hero03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,764},{129,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,145}}</string>
                <key>sourceSize</key>
                <string>{129,145}</string>
            </dict>
            <key>heroLeft1.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,2},{129,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,145}}</string>
                <key>sourceSize</key>
                <string>{129,145}</string>
            </dict>
            <key>heroLeft2.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,133},{129,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,145}}</string>
                <key>sourceSize</key>
                <string>{129,145}</string>
            </dict>
            <key>heroLeft3.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,764},{129,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,144}}</string>
                <key>sourceSize</key>
                <string>{129,144}</string>
            </dict>
            <key>item03.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,911},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>money.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,911},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>monster01.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,953},{60,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,59}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>obstacle01.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,953},{53,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,61}}</string>
                <key>sourceSize</key>
                <string>{53,61}</string>
            </dict>
            <key>obstacle02.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,142},{30,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,75}}</string>
                <key>sourceSize</key>
                <string>{30,75}</string>
            </dict>
            <key>obstacle3.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,953},{54,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,45}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>obstacle4.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,764},{51,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,52}}</string>
                <key>sourceSize</key>
                <string>{51,52}</string>
            </dict>
            <key>obstacle5.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,314},{36,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,63}}</string>
                <key>sourceSize</key>
                <string>{36,63}</string>
            </dict>
            <key>progress-bar-empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,990},{333,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,26}}</string>
                <key>sourceSize</key>
                <string>{333,26}</string>
            </dict>
            <key>progress-bar-full.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,142},{332,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,26}}</string>
                <key>sourceSize</key>
                <string>{332,26}</string>
            </dict>
            <key>pureGround.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,2},{760,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{760,97}}</string>
                <key>sourceSize</key>
                <string>{760,97}</string>
            </dict>
            <key>trayAgain.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,174},{302,78}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{302,78}}</string>
                <key>sourceSize</key>
                <string>{302,88}</string>
            </dict>
            <key>返回游戏.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,264},{303,77}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{303,77}}</string>
                <key>sourceSize</key>
                <string>{303,89}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73e054dbb3c7b05c61fe71cb7f43f907$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
